@page
@model FLexElectronicsShop.Pages.StoreManagement.PromotionManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].DiscountPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Promotion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercentage)
            </td>
                <td>
                    @(item.StartDate != null ? item.StartDate.ToString("dd.MM.yyyy") : "")
                </td>
                <td>
                    @(item.EndDate != null ? item.EndDate.ToString("dd.MM.yyyy") : "")
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("manager"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <span>|</span>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        <span>|</span>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else if(User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("moderator")))
                    {
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
