@page
@model FLexElectronicsShop.Pages.StoreManagement.StoreCatalogManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CatalogItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogItem.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatalogItem.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogItem.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatalogItem.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogItem.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatalogItem.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogItem.Promotion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatalogItem.Promotion.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogItem.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatalogItem.IsAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogItem.DiscountedPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatalogItem.DiscountedPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CatalogItem.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
