@page
@model FLexElectronicsShop.Pages.StoreManagement.StoreCatalogManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatalogItem[0].Product)
            </th>
            <th>
                <span>&nbsp;</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatalogItem[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatalogItem[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatalogItem[0].Promotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatalogItem[0].IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatalogItem[0].DiscountedPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CatalogItem)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Product.URL)" class="card-img-top" alt="@item.Product.Name" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Promotion.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                @if (item.DiscountedPrice != 0)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountedPrice)
                    </td>
                }
                else
                {
                    <td><span>&nbsp;</span></td>
                }
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
