@page
@model FLexElectronicsShop.Pages.StoreManagement.ProductManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                <span>&nbsp;</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.URL)" class="card-img-top" alt="@item.Name" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Description)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <span>|</span>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <span>|</span>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
